.template-list {
    margin-top: 8px;
    margin-bottom: 8px;
}

.template {
    box-shadow:5px 5px 10px #5F5F5F; 
}

.template__preview {
    position: relative;
    cursor: pointer;
}

.template__thumbnail {
    width: 100%;
    height: 500px;
    object-position: 0 0;
    object-fit: cover;
}

.template__status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.template__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.template__selected-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: green;
}


.template__name {
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
}

.template__description {
    margin-top: 8px;
    padding-bottom: 16px;
    text-align: center;
}

.cv-editor {
    margin-top: 8px;
    margin-bottom: 8px;
}
